{%- set theme_name = 'minarca' %}
{%- set frame_color = '#ffffff' %}
{%- set font_color = '#000000' %}
{%- set font_size = -16 %}
{%- set font_family = 'Lato' %}
{% set fg_colors = {
    "primary": "#1C4062",
    "secondary": "#B6DDE2",
    "success": "#50A254",
    "info": "#009FB9",
    "warning": "#D88C46",
    "danger": "#CA393C",
    "light": "#f4f4f4",
    "dark": "#0E2933"}
%}
{% set bg_colors = {
	"default": frame_color,
	"light": "#f4f4f4",
    "dark": "#0E2933"}
%}

{# Create all variation of glyphs #}
{% set glyphs=["trash"] %}
{% for glyph in glyphs %}
{% for name, color in fg_colors.items() %}
{% for size in [16] %}
image create photo {{ glyph }}-{{ size }}-{{ name }} -data "{{ svg_to_base64(glyph + '.svg', size|string + 'x' + size|string , color ) }}"
{% endfor %}
{% endfor %}
{% endfor %}

{# Create all variation of icons #}
{% for size in [16, 22, 32, 48, 128, 256] -%}
image create photo minarca-{{ size }} -data "{{ svg_to_base64( "minarca.svg", size|string + 'x' + size|string ) }}"
{% endfor %}

{# Create all variation of dots #}
{% for name, color in fg_colors.items() %}
{% for size in [16] %}
{% for idx in range(0,4) %}
image create photo dots-{{ size }}-{{ name }}_{{ "%02d" | format(idx) }} -data "{{ svg_to_base64('dots%s.svg' | format(idx),  'x%s' | format(size), color ) }}"
{% endfor %}
{% endfor %}
{% endfor %}

{# Create Setup Logo #}
image create photo minarca-logo -data "{{ svg_to_base64( "minarca-logo.svg", '256') }}"

{# Create header logo #}
image create photo minarca-header-logo -data "{{ svg_to_base64( "minarca-header-logo.svg", 'x48') }}"

{# Create background decoration  #}
image create photo minarca-line -data "{{ svg_to_base64("line.svg", size="670x15") }}"

{#
  Default clam theme
  Do not replace all colors to keep a "native" look and feel in default dialog.
#}
array set colors {
	-disabledfg		"#999999"
	-frame  		"#e1dedb"
	-window  		"#ffffff"
	-dark			"#cfcdc8"
	-darker 		"#bab5ab"
	-darkest		"#9e9a91"
	-lighter		"#eeebe7"
	-lightest 		"#ffffff"
	-selectbg		"#4a6984"
	-selectfg		"#ffffff"
	-altindicator		"#5895bc"
	-disabledaltindicator	"#a0a0a0"
}
ttk::style theme create {{ theme_name }} -parent clam -settings {

	ttk::style configure "." \
	    -background $colors(-frame) \
	    -foreground black \
	    -bordercolor $colors(-darkest) \
	    -darkcolor $colors(-dark) \
	    -lightcolor $colors(-lighter) \
	    -troughcolor $colors(-darker) \
	    -selectbackground $colors(-selectbg) \
	    -selectforeground $colors(-selectfg) \
	    -selectborderwidth 0 \
	    -font TkDefaultFont \
	    ;

	ttk::style map "." \
	    -background [list disabled $colors(-frame) \
			     active $colors(-lighter)] \
	    -foreground [list disabled $colors(-disabledfg)] \
	    -selectbackground [list  !focus $colors(-darkest)] \
	    -selectforeground [list  !focus white] \
	    ;
	# -selectbackground [list  !focus "#847d73"]

	ttk::style configure TButton \
	    -anchor center -width -11 -padding 5 -relief raised
	ttk::style map TButton \
	    -background [list \
			     disabled $colors(-frame) \
			     pressed $colors(-darker) \
			     active $colors(-lighter)] \
	    -lightcolor [list pressed $colors(-darker)] \
	    -darkcolor [list pressed $colors(-darker)] \
	    -bordercolor [list alternate "#000000"] \
	    ;

	ttk::style configure Toolbutton \
	    -anchor center -padding 2 -relief flat
	ttk::style map Toolbutton \
	    -relief [list \
		    disabled flat \
		    selected sunken \
		    pressed sunken \
		    active raised] \
	    -background [list \
		    disabled $colors(-frame) \
		    pressed $colors(-darker) \
		    active $colors(-lighter)] \
	    -lightcolor [list pressed $colors(-darker)] \
	    -darkcolor [list pressed $colors(-darker)] \
	    ;

	ttk::style configure TCheckbutton \
	    -indicatorbackground "#ffffff" \
	    -indicatormargin {1 1 4 1} \
	    -padding 2 ;
	ttk::style configure TRadiobutton \
	    -indicatorbackground "#ffffff" \
	    -indicatormargin {1 1 4 1} \
	    -padding 2 ;
	ttk::style map TCheckbutton -indicatorbackground \
	    [list  pressed $colors(-frame) \
			{!disabled alternate} $colors(-altindicator) \
			{disabled alternate} $colors(-disabledaltindicator) \
			disabled $colors(-frame)]
	ttk::style map TRadiobutton -indicatorbackground \
	    [list  pressed $colors(-frame) \
			{!disabled alternate} $colors(-altindicator) \
			{disabled alternate} $colors(-disabledaltindicator) \
			disabled $colors(-frame)]

	ttk::style configure TMenubutton \
	    -width -11 -padding 5 -relief raised

	ttk::style configure TEntry -padding 1 -insertwidth 1
	ttk::style map TEntry \
	    -background [list  readonly $colors(-frame)] \
	    -bordercolor [list  focus $colors(-selectbg)] \
	    -lightcolor [list  focus "#6f9dc6"] \
	    -darkcolor [list  focus "#6f9dc6"] \
	    ;

	ttk::style configure TCombobox -padding 1 -insertwidth 1
	ttk::style map TCombobox \
	    -background [list active $colors(-lighter) \
			     pressed $colors(-lighter)] \
	    -fieldbackground [list {readonly focus} $colors(-selectbg) \
				  readonly $colors(-frame)] \
	    -foreground [list {readonly focus} $colors(-selectfg)] \
	    -arrowcolor [list disabled $colors(-disabledfg)]
	ttk::style configure ComboboxPopdownFrame \
	    -relief solid -borderwidth 1

	ttk::style configure TSpinbox -arrowsize 10 -padding {2 0 10 0}
	ttk::style map TSpinbox \
	    -background [list  readonly $colors(-frame)] \
            -arrowcolor [list disabled $colors(-disabledfg)]

	ttk::style configure TNotebook.Tab -padding {6 2 6 2}
	ttk::style map TNotebook.Tab \
	    -padding [list selected {6 4 6 2}] \
	    -background [list selected $colors(-frame) {} $colors(-darker)] \
	    -lightcolor [list selected $colors(-lighter) {} $colors(-dark)] \
	    ;

	# Treeview:
	ttk::style configure Heading \
	    -font TkHeadingFont -relief raised -padding {3}
	ttk::style configure Treeview -background $colors(-window)
	ttk::style map Treeview \
	    -background [list disabled $colors(-frame)\
				selected $colors(-selectbg)] \
	    -foreground [list disabled $colors(-disabledfg) \
				selected $colors(-selectfg)]

    	ttk::style configure TLabelframe \
	    -labeloutside true -labelmargins {0 0 0 4} \
	    -borderwidth 2 -relief raised

	ttk::style configure TProgressbar -background $colors(-frame)

	ttk::style configure Sash -sashthickness 6 -gripcount 10

	{# Define custom color for tooltip #}
	ttk::style configure tooltip.TLabel -background #ffffe0;

	{# Define custom font #}
		ttk::style configure "." \
	    -font { {{ font_family }} {{ font_size }} };

    {# TButton #}
    {% for name, color in fg_colors.items() %}
    {% set fg = fg_colors['light'] if lightness(color) < 0.8 else fg_colors['dark'] %}
    ttk::style configure {{ name }}.TButton \
      -foreground {{ fg }} \
      -background {{ color }} \
      -bordercolor {{ darker(color, 0.05) }} \
      -darkcolor {{ color }} \
      -lightcolor {{ color }} \
      -focuscolor {{ fg }};
    
    ttk::style map {{ name }}.TButton \
      -background {disabled {{ lighter(color, 0.7) }} {hover !disabled} {{ darker(color) }} {pressed !disabled} {{ darker(color, 0.25) }} }  \
      -lightcolor {disabled {{ lighter(color, 0.5) }} {hover !disabled} {{ darker(color) }} {pressed !disabled} {{ darker(color, 0.25) }} }  \
      -darkcolor {disabled {{ lighter(color, 0.5) }} {hover !disabled} {{ darker(color) }} {pressed !disabled} {{ darker(color, 0.25) }} }  \
      -bordercolor {disabled {{ lighter(color, 0.5) }} {hover !disabled} {{ darker(color) }} {pressed !disabled} {{ darker(color, 0.25) }} }  \
      -foreground {disabled {{ lighter(fg, 0.5) }} };

	{% for variation, size in [('H1', -60), ('H2', -40), ('H3', -32), ('H4', -26), ('small', -10)] %}
	ttk::style configure {{ variation }}.{{ name }}.TButton \
	  -padding { {{ (size * 0.8)|abs|int }} {{ (size * 0.4)|abs|int }} } \
	  -font { {{font_family}} {{ size }} };
    {% endfor %}

    {% endfor %}

	{# FIXME check if applicable to all style #}
	ttk::style map dark.TButton \
	  -foreground { selected {{ fg_colors['secondary'] }} };

    {# Link.TButton - special button without border #}
    ttk::style configure Link.TButton \
      -foreground {{ font_color }} \
      -background {{ frame_color }} \
      -padding 0 \
      -border 0 \
      -relief flat \
	  -anchor left \
	  -font { {{font_family}} {{ font_size }} underline };
    ttk::style map Link.TButton \
      -background {} \
      -font {disabled { {{font_family}} {{ font_size }} } {hover !disabled} { {{font_family}} {{ font_size }} } {pressed !disabled} { {{font_family}} {{ font_size }} } };
	{% for fgname, fgcolor in fg_colors.items() %}
	{% for bgname, bgcolor in bg_colors.items() %}
    {% if fgname != bgname %}
	ttk::style configure {{ fgname }}.{{ bgname }}.Link.TButton -foreground {{ fgcolor }} -background {{ bgcolor }};
	{% endif %}
    {% endfor %}
	{% endfor %}

    {% for fgname, fgcolor in fg_colors.items() %}
	{% for bgname, bgcolor in bg_colors.items() %}
	{% if fgname != bgname %}
    ttk::style configure {{ fgname }}.{{ bgname }}.TLabel -foreground {{ fgcolor }} -background {{ bgcolor }};
    {# H1, H2, small, strong TLabel #}
	{% for variation, size in [('H1', -60), ('H1', -60), ('H2', -40), ('H3', -32), ('H4', -26), ('small', -10), ('strong', '-14 bold')] %}
	ttk::style configure {{ variation }}.{{ fgname }}.{{bgname}}.TLabel -font { {{font_family}} {{ size }} };
    {% endfor %}
	{% endif %}
	{% endfor %}
	{% endfor %}

    {# TFrame #}
    {% for name, color in bg_colors.items() %}
    ttk::style configure {{ name }}.TFrame -background {{ color }};
    {% endfor %}

    {# Roundtoggle.TCheckbutton #}
	{% for fgname, fgcolor in fg_colors.items() %}
	{% for bgname, bgcolor in bg_colors.items() %}
	{% if fgname != bgname %}
	image create photo switch-on-{{ fgname }}-{{ bgname }} -data "{{ svg_to_base64('switch.svg', 'x24', fgcolor, rotate=180) }}"
	image create photo switch-off-{{ fgname }}-{{ bgname }} -data "{{ svg_to_base64('switch.svg', 'x24', interpolate(fgcolor, bgcolor, 0.75)) }}"
	image create photo switch-disabled-{{ fgname }}-{{ bgname }} -data "{{ svg_to_base64('switch.svg', 'x24', darker(bgcolor)) }}"

    ttk::style element create {{ fgname }}.{{ bgname }}.Roundtoggle.TCheckbutton.indicator image { \
        switch-on-{{ fgname }}-{{ bgname }} \
        disabled switch-disabled-{{ fgname }}-{{ bgname }} \
        !selected  switch-off-{{ fgname }}-{{ bgname }} };
    ttk::style layout {{ fgname }}.{{ bgname }}.Roundtoggle.TCheckbutton {
        Checkbutton.padding -sticky nswe -side left -children {
			{{ fgname }}.{{ bgname }}.Roundtoggle.TCheckbutton.indicator -side left -sticky {}
            Checkbutton.padding -side left -sticky {}
			Checkbutton.focus -side left -sticky w -children {
                Checkbutton.label -sticky nswe
            }
        }
    }
	ttk::style layout right.{{ fgname }}.{{ bgname }}.Roundtoggle.TCheckbutton {
        Checkbutton.padding -sticky nswe -side right -children {
			{{ fgname }}.{{ bgname }}.Roundtoggle.TCheckbutton.indicator -side right -sticky {}
			Checkbutton.padding -side right -sticky {}
			Checkbutton.focus -side right -sticky w -children {
                Checkbutton.label -sticky nswe
            }
        }
    }
	ttk::style configure {{ fgname }}.{{ bgname }}.Roundtoggle.TCheckbutton \
	  -foreground {{ fgcolor }} \
	  -background {{ bgcolor }};
	ttk::style map {{ fgname }}.{{ bgname }}.Roundtoggle.TCheckbutton \
      -background { {hover !disabled} {{ darker(bgcolor, 0.1) }} }
	{% endif %}
	{% endfor %}
	{% endfor %}

	{# TRadiobutton #}
    {% for fgname, fgcolor in fg_colors.items() %}
	{% for bgname, bgcolor in bg_colors.items() %}
	{% if fgname != bgname %}
    ttk::style configure {{ fgname }}.{{ bgname }}.TRadiobutton \
	  -indicatorsize {{ font_size|abs - 2 }} \
	  -indicatorforeground {{ fgcolor }} \
	  -foreground {{ fgcolor }} \
	  -background {{ bgcolor }};
	ttk::style map {{ fgname }}.{{ bgname }}.TRadiobutton \
      -background { {hover !disabled} {{ darker(bgcolor, 0.1) }} }
	{% endif %}
	{% endfor %}
	{% endfor %}

}
