<TopLevel geometry="900x560" title="Minarca Backup" background="#ffffff">
    <Frame pack-side="top" style="dark.TFrame" pack-fill="x" padding="20 0 20 0">
        <!-- Header logo -->
        <Label style="light.dark.TLabel" pack-side="left" pack-fill="x" pack-padx="10 0" pack-pady="10" image="minarca-header-logo" />
        <!-- Navbar -->
        <Frame pack-side="right" style="dark.TFrame">
            <Button id="button_home" style="dark.TButton" selected="{{active_view == 'home'}}"
                command="set_active_view('home')"  text="Home"
                cursor="hand2" pack-side="left" width="0"/>
            <Button id="button_patterns" selected="{{active_view == 'patterns'}}"
                style="dark.TButton"
                command="set_active_view('patterns')"
                text="Select files" cursor="hand2" pack-side="left" width="0"/>
            <Button id="button_schedule" selected="{{active_view == 'schedule'}}"
                style="dark.TButton"
                command="set_active_view('schedule')"
                text="Schedule Backup" cursor="hand2" pack-side="left" width="0"/>
            <Button id="button_restore" selected="{{active_view == 'restore'}}"
                style="dark.TButton"
                command="set_active_view('restore')"
                text="Restore" cursor="hand2" pack-side="left" width="0"/>
            <Button id="button_settings" selected="{{active_view == 'settings'}}"
                style="dark.TButton"
                command="set_active_view('settings')"
                text="Settings" cursor="hand2" pack-side="left" width="0"/>
            <Button style="dark.TButton" id="help_button" text="Help" pack-side="left" command="show_help" cursor="hand2" width="0"/>
        </Frame>
    </Frame>
    <Frame style="default.TFrame" pack-fill="both" pack-expand="true" padding="25">
        <StatusView id="status_view" pack-fill="both" pack-expand="1" visible="{{active_view == 'home'}}" />
        <PatternsView id="patterns_view" pack-fill="both" pack-expand="1" visible="{{active_view == 'patterns'}}" />
        <ScheduleView id="schedule_view" pack-fill="both" pack-expand="1" visible="{{active_view == 'schedule'}}" />
        <RestoreView id="restore_view" pack-fill="both" pack-expand="1" visible="{{active_view == 'restore'}}" />
        <SettingsView id="settings_view" pack-fill="both" pack-expand="1" visible="{{active_view == 'settings'}}" />
    </Frame>
</TopLevel>