<Frame>
    <Frame pack-fill="x">
        <Label pack-side="left" text="{{header_text}}" style="{{header_text_style}}" pack-pady="10" />
        <Button command="start_stop_backup" text="{{start_stop_text}}" pack-side="right" style="success.TButton"
            cursor="hand2" />
    </Frame>
    <Separator orient="horizontal" pack-fill="x" pack-pady="25" />
    <Frame pack-fill="x">
        <Label style="strong.primary.TLabel" text="Last Backup" width="15" pack-side="left" />
        <Label pack-expand="true" pack-side="left" pack-fill="x" wrap="true" text="{{last_backup_text}}" />
    </Frame>
    <Separator orient="horizontal" pack-fill="x" pack-pady="25" />
    <Frame pack-fill="x">
        <Label style="strong.primary.TLabel" text="Remote" width="15" pack-side="left" />
        <Button style="Link.TButton" text="{{remoteurl}}" cursor="hand2" pack-side="left" command="browse_remote">
            <ToolTip text="{{remote_text_tooltip}}" />
        </Button>
        <Button style="Default.TButton" text="Disconnect" command="unlink" cursor="hand2" pack-side="right" />
    </Frame>
</Frame>