image: ikus060/docker-debian-py2-py3:stretch

stages:
- build
- test-package
- publish
- deploy
- test-integration

variables:
  PIP_EXTRA_INDEX_URL: https://nexus.patrikdufresne.com/repository/pypi/simple
  MAVEN_OPTS: "-Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=WARN
               -Dorg.slf4j.simpleLogger.showDateTime=true
               -Djava.awt.headless=true
               -Dmaven.repo.local=.m2/repository"

# TODO Split this by python version and OS.
server_test_py27: 
  stage: build
  script:
  - cd minarca-server
  - apt-get update && apt-get -qq install python-pysqlite2 libldap2-dev libsasl2-dev rdiff-backup node-less
  - pip install pip setuptools tox nose coverage --upgrade
  - python setup.py build
  - export TOXENV=`tox --listenvs | grep "^py27" | tr '\n' ','`
  - tox --sitepackages
  
server_test_py3: 
  stage: build
  script:
  - cd minarca-server
  - apt-get update && apt-get -qq install python-pysqlite2 libldap2-dev libsasl2-dev rdiff-backup node-less
  - pip install pip setuptools tox nose coverage --upgrade
  - python setup.py build
  - export TOXENV=`tox --listenvs | grep "^py3" | tr '\n' ','`
  - tox --sitepackages
  
quota_test_py27: 
  stage: build
  script:
  - cd minarca-quota-api
  - pip install pip setuptools tox nose coverage --upgrade
  - python setup.py build
  - export TOXENV=`tox --listenvs | grep "^py27" | tr '\n' ','`
  - tox --sitepackages
  
quota_test_py3: 
  stage: build
  script:
  - cd minarca-quota-api
  - pip install pip setuptools tox nose coverage --upgrade
  - python setup.py build
  - export TOXENV=`tox --listenvs | grep "^py3" | tr '\n' ','`
  - tox --sitepackages

client_sonar:
  stage: build
  allow_failure: true
  image: maven:3-jdk-8
  script:
  - cd minarca-client
  - export REVISION="$(curl http://git.patrikdufresne.com/pdsl/maven-scm-version/raw/master/version.sh | bash -)"
  - echo "REVISION=$REVISION"
  - apt-get update && apt-get -qq install icoutils nsis cron gettext
  - mvn -B -Drevision=${REVISION} -Dsonar.host.url=$SONAR_URL -Dsonar.login=$SONAR_TOKEN clean verify org.jacoco:jacoco-maven-plugin:prepare-agent clean verify sonar:sonar

client_build:
  stage: build
  image: maven:3-jdk-8
  script:
  - cd minarca-client
  - export REVISION="$(curl http://git.patrikdufresne.com/pdsl/maven-scm-version/raw/master/version.sh | bash -)"
  - echo "REVISION=$REVISION"
  # Setup authenticode
  - apt-get update && apt-get -qq install libssl-dev libcurl4-gnutls-dev autoconf osslsigncode icoutils nsis cron gettext
  - echo "$AUTHENTICODE_CERT" | tr -d '\r' > /tmp/authenticode-certs.pem
  - echo "$AUTHENTICODE_KEY" | tr -d '\r' > /tmp/authenticode.pem
  - mvn -B -Drevision=${REVISION} -Dsign.certs.path=/tmp/authenticode-certs.pem -Dsign.key.path=/tmp/authenticode.pem -Dsign.passphrase=$AUTHENTICODE_PASSPHRASE  clean install
  # Rename deb
  - "[ -e minarca-installation-package-deb/target/minarca-installation-package-deb_${REVISION}_all.deb ] || mv minarca-installation-package-deb/target/*.deb minarca-installation-package-deb/target/minarca-installation-package-deb_${REVISION}_all.deb"
  - mv minarca-installation-package-deb/target/minarca-installation-package-deb_${REVISION}_all.deb minarca-installation-package-deb/target/minarca-client_${REVISION}_all.deb
  artifacts:
    paths:
    - minarca-client/minarca-installation-package/target/*.exe
    - minarca-client/minarca-installation-package-deb/target/*.deb

server_package_deb:
  stage: build
  script:
  - apt-get update && apt-get -y install dh-make dh-virtualenv dh-systemd build-essential python-all libldap2-dev libsasl2-dev
  - pip2 install setuptools_scm
  - cd minarca-server
  - export VERSION=$(python setup.py --version)
  - export SETUPTOOLS_SCM_PRETEND_VERSION=$VERSION
  - export RELEASE_DATE="$(date '+%a, %d %b %Y %X') +0000"
  - sed -i "s/%VERSION%/$VERSION/" debian/changelog
  - sed -i "s/%DATE%/$RELEASE_DATE/" debian/changelog
  - DH_VIRTUALENV_INSTALL_ROOT=/opt/ dpkg-buildpackage -us -uc
  artifacts:
    paths:
    - minarca-server_*.deb

server_test_deb:
  stage: test-package
  image: debian:stretch
  script: 
  - bash ./minarca-server/tests/install-deb.sh ./minarca-server_*.deb

client_test_deb:
  stage: test-package
  image: debian:stretch
  before_script: []
  script:
  - export MINARCA_DEB_FILE=$(ls -1 ./minarca-client/minarca-installation-package-deb/target/*.deb)
  - bash ./minarca-client/tests/test_install_deb.sh
  
client_test_exe:
  stage: test-package
  image: debian:stretch
  before_script: []
  script:
  - export MINARCA_EXE_FILE=$(ls -1 ./minarca-client/minarca-installation-package/target/*.exe)
  - bash ./minarca-client/tests/test_install_exe.sh

server_publish:
  stage: publish
  except:
  - tags
  script:
  # Publish to kalo
  - eval $(ssh-agent -s)
  - echo "$KALO_WWWDATA_PRIVATEKEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - scp -o StrictHostKeyChecking=no ./minarca-server_*.deb www-data@kalo.patrikdufresne.com:/var/www/patrikdufresne/archive/minarca/nightly/

server_promote:
  stage: publish
  only:
  - tags
  script:
  # Setup authentication
  - eval $(ssh-agent -s)
  - echo "$KALO_WWWDATA_PRIVATEKEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  # Publish to kalo
  - export MINARCA_DEB_FILE=$(ls -1 minarca-server_*.deb)
  - scp -o StrictHostKeyChecking=no ./$MINARCA_DEB_FILE www-data@kalo.patrikdufresne.com:/var/www/patrikdufresne/archive/minarca/
  - ssh -o StrictHostKeyChecking=no www-data@kalo.patrikdufresne.com ln -fs /var/www/patrikdufresne/archive/minarca/$MINARCA_DEB_FILE /var/www/patrikdufresne/archive/minarca/minarca-server_latest_amd64.deb

client_publish:
  stage: publish
  environment:
    name: dev
    url: http://www.patrikdufresne.com/archive/minarca/nightly/minarca-client-${REVISION}.exe
  script:
  # Setup authentication
  - eval $(ssh-agent -s)
  - echo "$KALO_WWWDATA_PRIVATEKEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  # Publish to kalo
  - export MINARCA_DEB_FILE=$(ls -1 ./minarca-client/minarca-installation-package-deb/target/*.deb)
  - export MINARCA_EXE_FILE=$(ls -1 ./minarca-client/minarca-installation-package/target/*.exe)
  - scp -o StrictHostKeyChecking=no $MINARCA_DEB_FILE www-data@kalo.patrikdufresne.com:/var/www/patrikdufresne/archive/minarca/nightly/
  - scp -o StrictHostKeyChecking=no $MINARCA_EXE_FILE www-data@kalo.patrikdufresne.com:/var/www/patrikdufresne/archive/minarca/nightly/

client_promote:
  stage: publish
  only:
  - tags
  environment:
    name: latest
    url: http://www.patrikdufresne.com/archive/minarca/minarca-latest-install.exe
  script:
  # Setup authentication
  - eval $(ssh-agent -s)
  - echo "$KALO_WWWDATA_PRIVATEKEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  # Publish to kalo
  - export MINARCA_DEB_FILE=$(ls -1 ./minarca-client/minarca-installation-package-deb/target/*.deb)
  - export MINARCA_EXE_FILE=$(ls -1 ./minarca-client/minarca-installation-package/target/*.exe)
  - scp -o StrictHostKeyChecking=no $MINARCA_EXE_FILE www-data@kalo.patrikdufresne.com:/var/www/patrikdufresne/archive/minarca/
  - scp -o StrictHostKeyChecking=no $MINARCA_DEB_FILE www-data@kalo.patrikdufresne.com:/var/www/patrikdufresne/archive/minarca/
  - ssh -o StrictHostKeyChecking=no www-data@kalo.patrikdufresne.com ln -fs $(basename $MINARCA_EXE_FILE) /var/www/patrikdufresne/archive/minarca/minarca-latest-install.exe
  - ssh -o StrictHostKeyChecking=no www-data@kalo.patrikdufresne.com ln -fs $(basename $MINARCA_DEB_FILE) /var/www/patrikdufresne/archive/minarca/minarca-client_latest_all.deb

deploy:staging:sestican:
  stage: deploy
  image: ikus060/ansible
  variables:
    ANSIBLE_HOST_KEY_CHECKING: "False"
  environment:
    name: staging
    url: https://test.minarca.net
  before_script:
  - eval $(ssh-agent -s)
  - echo "$GITLAB_SSH_IDENTITY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  script:
  # Delete previous installation
  - ssh -o StrictHostKeyChecking=no root@sestican.patrikdufresne.com "! dpkg -s minarca-server || apt remove -y minarca-server --purge"
  - ssh -o StrictHostKeyChecking=no root@sestican.patrikdufresne.com "rm -Rf /etc/minarca/; rm -Rf /backups/"
  # Install minarca
  - export MINARCA_VERSION=$(cd minarca-server; python ./setup.py --version)
  - echo MINARCA_VERSION=$MINARCA_VERSION
  - git clone "http://${GITLAB_USR}:${GITLAB_PWD}@git.patrikdufresne.com/pdsl/ansible-config.git"
  - cd ansible-config
  - ansible-playbook minarca.yml -i pdsl --extra-vars "ansible_user=root minarca_server_version=$MINARCA_VERSION" --limit sestican
  
deploy:prod:ranculos:
  stage: deploy
  image: ikus060/ansible
  when: manual
  only: 
  - tags
  - master
  variables:
    ANSIBLE_HOST_KEY_CHECKING: "False"
  environment:
    name: prod
    url: https://www.minarca.net
  before_script:
  - eval $(ssh-agent -s)
  - echo "$RANCULOS_ROOT_PRIVATEKEY" | tr -d '\r' | ssh-add - > /dev/null
  - echo "$MERCOR_ROOT_PRIVATEKEY" | tr -d '\r' | ssh-add - > /dev/null
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  script:
  - export MINARCA_VERSION=$(cd minarca-server; python ./setup.py --version)
  - echo MINARCA_VERSION=$MINARCA_VERSION
  - git clone "http://${GITLAB_USR}:${GITLAB_PWD}@git.patrikdufresne.com/pdsl/ansible-config.git"
  - cd ansible-config
  - ansible-playbook minarca.yml -i pdsl --extra-vars "ansible_user=root minarca_server_version=$MINARCA_VERSION" --limit ranculos,mercor
  
test:staging:sestican:
  image: debian:stretch
  stage: test-integration
  variables:
    MINARCA_REPOSITORYNAME: test-${CI_JOB_ID}
  script: 
  - export MINARCA_DEB_FILE=$(ls -1 ./minarca-client/minarca-installation-package-deb/target/*.deb)
  - bash ./minarca-server/tests/test-link.sh
  