*.py[co]

# Packages
.eggs
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Mr Developer
.mr.developer.cfg
.project
.externalToolBuilders
.settings
/ez_setup
.pydevproject
coverage.xml
nosetests.xml
/sonar-project.properties
/.eggs/
deb_dist