[Unit]
Description=Minarca Quota API Server
Documentation=https://minarca.org/

[Service]
ExecStart=/opt/minarca-quota-api/bin/minarca-quota-api

[Install]
WantedBy=multi-user.target
