<TopLevel geometry="600x500" title="Select files for full restore" background="#ffffff">
    <Frame pack-fill="both" style="default.TFrame" pack-expand="1" padding="25">
        <!-- Title -->
        <Label text="Select files" style="H1.dark.default.TLabel" pack-fill="x" />
        <!-- Subtitle -->
        <Label wrap="1" style="dark.default.TLabel" pack-fill="x" text="Here, you have the power to choose which files you want to include in your full restore process. By toggling the files on or off, you can customize the restoration to suit your specific needs." />
        <!-- Patterns -->
        <ScrolledFrame id="scrolled_frame" pack-fill="both" pack-expand="1" style="light.TFrame" pack-pady="15">
            <Label text="Loading" style="dark.light.TLabel" compound="right" image="dots-16-dark" visible="{{ not patterns }}"/>
            <Frame for="item in patterns" pack-fill="x" pack-pady="3" pack-expand="1" style="light.TFrame">
                <Label text="{{item.comment or item.pattern}}" style="dark.light.TLabel" pack-side="left" pack-padx="15">
                    <ToolTip text="{{item.pattern}}" />
                </Label>
                <Checkbutton pack-side="right" command="toggle_pattern(item)" text="{{check_button_text(item)}}"
                    style="dark.light.Roundtoggle.TCheckbutton" width="10" selected="{{item.include}}" cursor="hand2" />
            </Frame>
        </ScrolledFrame>
        <Label text="Selected files will be restore with latest data. Existing files will be deleted permanently." style="info.default.TLabel" pack-fill="x" wrap="1"/>
        <!-- Buttons -->
        <Frame style="default.TFrame" padding="0 3" pack-fill="x">
            <Checkbutton text="I understand the risk" style="dark.default.TCheckbutton" pack-side="left" variable="{{confirm}}" cursor="hand2" pack-padx="0 15" pack-fill="x"/>
            <Button text="Cancel" style="dark.TButton" pack-side="right" width="10" pack-fill="both" command="cancel_event" cursor="hand2"/>
            <Button text="Restore" style="dark.TButton" pack-side="right" width="10" pack-fill="both" pack-padx="0 8" command="return_event" cursor="hand2" state="{{'!disabled' if confirm and any(p.include for p in patterns) else 'disabled'}}" />
        </Frame>
    </Frame>
</TopLevel>