<Frame style="default.TFrame">
    
    <!-- Title -->
    <Label pack-side="top" text="Schedule backup" style="H1.dark.default.TLabel" pack-fill="x" />
    
    <!-- Subtitle -->
    <Label text="Configure when you want your backup to take place, or suspend it temporarily." style="dark.default.TLabel" pack-fill="x" wrap="1"/>

    <!-- Frequency -->
    <Frame pack-fill="both" style="light.TFrame" padding="25" pack-pady="25 0">
        <Frame style="light.TFrame" padding="0" pack-fill="x" pack-pady="0 15">
            <Label style="H3.dark.light.TLabel" text="Frequency" width="15" pack-side="left"/>
            <!-- Pause button -->
            <Checkbutton id="pause_btn" pack-side="right" command="toggle_pause" variable="{{ paused }}" text=" Suspended"
                style="dark.light.Roundtoggle.TCheckbutton" />
        </frame>
        <Radiobutton id="hourly_btn" style="dark.light.TRadiobutton" value="1" text="Hourly" variable="{{schedule}}" pack-side="left" pack-pady="0 5" width="22"/>
        <Radiobutton id="daily_btn" style="dark.light.TRadiobutton" value="24" text="Once a day" variable="{{schedule}}" pack-side="left" pack-pady="0 5" width="22"/>
        <Radiobutton id="twice_btn" style="dark.light.TRadiobutton" value="12" text="Twice a day" variable="{{schedule}}" pack-side="left" pack-pady="0 5" width="22"/>
    </Frame>

    <!-- Run if logged out -->
    <Frame pack-fill="both" style="light.TFrame" padding="25" pack-pady="25 0" visible="{{show_run_if_logged_out}}">
        <Label style="H3.dark.light.TLabel" text="Advance Options" pack-anchor="nw" pack-pady="0 15" width="15" />
        <Checkbutton id="run_if_logged_out_btn" pack-side="left" command="toggle_run_if_logged_out" variable="{{run_if_logged_out}}" text="Run whether user is logged on or not"
            style="dark.light.Roundtoggle.TCheckbutton" />
    </Frame>

    
</Frame>