<Frame style="default.TFrame">
    
    <!-- Title -->
    <Label pack-side="top" text="Schedule backup" style="H1.dark.default.TLabel" pack-fill="x" />
    
    <!-- Subtitle -->
    <Label text="Select how often you want your backup to be performed." style="dark.default.TLabel" pack-fill="x" wrap="1"/>

    <Frame pack-fill="both" style="light.TFrame" padding="25" pack-pady="25 0">
        <Label style="H3.dark.light.TLabel" text="Frequency" pack-anchor="nw" pack-pady="0 15" width="15" />
        <Radiobutton style="dark.light.TRadiobutton" value="1" text="Hourly" variable="{{schedule}}" pack-anchor="nw" pack-pady="0 5" width="22"/>
        <Radiobutton style="dark.light.TRadiobutton" value="24" text="Daily" variable="{{schedule}}" pack-anchor="nw" pack-pady="0 5" width="22"/>
        <Radiobutton style="dark.light.TRadiobutton" value="168" text="Weekly" variable="{{schedule}}" pack-anchor="nw" pack-pady="0 5" width="22"/>
        <Radiobutton style="dark.light.TRadiobutton" value="720" text="Monthly" variable="{{schedule}}" pack-anchor="nw" pack-pady="0 5" width="22"/>
    </Frame>
    
</Frame>