<Frame style="default.TFrame">
    
    <!-- Title -->
    <Label pack-side="top" text="Settings" style="H1.dark.default.TLabel" pack-fill="x" />

    <ScrolledFrame id="scrolled_frame" pack-fill="both" pack-expand="1" style="default.TFrame" pack-pady="25 0">

        <!-- Update -->
        <Frame pack-fill="both" style="light.TFrame" padding="25" pack-pady="0 0">
            <Frame style="light.TFrame" pack-fill="x" pack-side="top">
                <Label style="H3.dark.light.TLabel" text="Updates" pack-side="left" />
                <Button id="check_latest_version_button" text="Check now" command="_check_latest_version" pack-side="right"
                    style="primary.TButton" cursor="hand2"/>
                <Checkbutton id="check_latest_version_toggle_button" text="Check for update at startup"
                    variable="{{check_latest_version}}" style="right.dark.light.Roundtoggle.TCheckbutton" pack-fill="x" pack-side="right" pack-padx="0 10" cursor="hand2"/>
            </Frame>
            
            <Frame style="light.TFrame" pack-fill="x" pack-side="left">
                <Label text="Checking for updates" visible="{{checking_for_update}}"
                    pack-fill="x" style="info.light.TLabel" compound="right" image="dots-16-info" />
                <Label text="Current version is up-to-date" style="success.light.TLabel"
                    visible="{{is_latest is True}}" pack-fill="x" />
                <Label text="Your version may be upgraded" style="info.light.TLabel"
                    visible="{{is_latest is False}}"  pack-fill="x" />
                <Label text="Cannot check for updates. Try again later." style="danger.light.TLabel"
                    visible="{{check_latest_version_error is not None}}"  pack-fill="x">
                    <Tooltip text="{{check_latest_version_error}}" width="50" />
                </Label>
                <Label text="Allows you to easily verify if there are any new software updates available." style="dark.light.TLabel"
                    visible="{{not checking_for_update and is_latest is None and check_latest_version_error is None}}" pack-fill="x" />
            </Frame>

            <Label text="{{ version }}" style="small.dark.light.TLabel" pack-fill="x" pack-side="right"/>
        </Frame>

        <!-- Notification -->
        <Frame pack-fill="both" style="light.TFrame" padding="25" pack-pady="25 0">
            <Frame style="light.TFrame" pack-fill="x">
                <Label style="H3.dark.light.TLabel" text="Notification" pack-side="left" />
                <Button style="primary.TButton" text="Modify" command="notification" cursor="hand2" pack-side="right" />
            </Frame>
            <Label style="dark.light.TLabel" text="To change your notification preferences and be notified of problems, log in to your online account." pack-fill="x" wrap="1" />
        </Frame>

        <!-- Unlink -->
        <Frame pack-fill="both" style="light.TFrame" padding="25" pack-pady="25 0">
            <Frame style="light.TFrame" pack-fill="x">
                <Label style="H3.dark.light.TLabel" text="Disconnect the backup" pack-side="left" />
                <Button style="primary.TButton" text="Disconnect" command="unlink" cursor="hand2" pack-side="right" />
            </Frame>
            <Label style="dark.light.TLabel" text="When you disconnect this computer, the backup process will no longer work." pack-fill="x" wrap="1" />
        </Frame>

    </ScrolledFrame>

</Frame>