<TopLevel geometry="780x900" title="Minarca Backup" background="#ffffff">
    <Frame pack-fill="both" pack-expand="true" padding="25" style="dark.TFrame">
        <!-- Logo & Subtitle -->
        <Label style="light.dark.TLabel" image="minarca-logo" />
        <Label style="H4.light.dark.TLabel" justify="center" text="Data Backup" pack-pady="3" />

        <!-- Login form -->
        <Frame pack-fill="both" pack-expand="1" style="dark.TFrame"></Frame>

        <Label style="H3.light.dark.TLabel" pack-fill="x" justify="center" text="Log me in" anchor="center" pack-pady="0 5"/>
        <Label style="light.dark.TLabel" image="minarca-line" pack-pady="0 25"/>

        <Frame pack-fill="x" padding="1" style="light.TFrame">
        <Frame pack-fill="x" padding="25" style="dark.TFrame">
            <!--Remote -->
            <Label text="Remote Minarca server" style="strong.light.dark.TLabel" pack-fill="x" pack-pady="0 5"/>
            <Entry textvariable="{{remoteurl}}" pack-fill="x" 
                state="{{'disabled' if linking else '!disabled'}}"/>
            <Label text="e.g.: https://www.servername.com" style="small.light.dark.TLabel" pack-fill="x" pack-pady="0 10"/>

            <!-- Username -->
            <Label text="Username" style="strong.light.dark.TLabel" pack-fill="x" pack-pady="0 5"/>
            <Entry textvariable="{{username}}" pack-fill="x" pack-pady="0 10"
                state="{{'disabled' if linking else '!disabled'}}" />

            <!-- Password -->
            <Label text="Password" style="strong.light.dark.TLabel" pack-fill="x" pack-pady="0 5" />
            <Entry textvariable="{{password}}" show="•" pack-fill="x"
                state="{{'disabled' if linking else '!disabled'}}" />
            <Label text="If two-factor authentication is enabled on your account, use an Access Token."
                style="small.light.dark.TLabel" pack-fill="x" pack-pady="0 10"/>

            <!--Repository name-->
            <Label text="Repository name" style="strong.light.dark.TLabel" pack-fill="x" pack-pady="0 5" />
            <Entry textvariable="{{repository_name}}" pack-fill="x" pack-pady="0 10"
                state="{{'disabled' if linking else '!disabled'}}" />

            <!-- Buttons -->
            <Frame pack-fill="x" style="dark.TFrame">
                <Button id="submitbutton" text="Sign in" command="link" style="secondary.TButton"
                    state="{{'disabled' if not valid_form or linking else '!disabled'}}"
                    cursor="{{'hand2' if valid_form else ''}}" pack-side="left"/>
                <Label style="secondary.dark.TLabel" pack-fill="both" pack-side="left" text="Connecting" compound="right" visible="{{ linking }}" anchor="w" image="dots-16-secondary" />
            </Frame>
        </Frame>
        </Frame>
        <Label wrap="1" justify="center" style="light.dark.TLabel" pack-padx="25" pack-pady="25 0"
                text="To configure Minarca to backup your data, you must provide URL to Minarca server. This information should be provided by your system administrator." />
    </Frame>
</TopLevel>