<Frame style="default.TFrame">
    <!-- Title -->
    <Label pack-side="top" text="{{ header_text }}" style="H1.dark.default.TLabel" pack-fill="x" />

    <!-- Link to minarca server -->
    <Frame style="default.TFrame" pack-fill="x">
        <Button style="Link.TButton" text="View my account online" cursor="hand2" pack-side="left" command="browse_remote">
            <ToolTip text="{{ remote_text_tooltip }}" />
        </Button>
    </Frame>

    <!-- Spacer -->
    <Frame style="default.TFrame" pack-fill="x" pack-expand="1" />

    <Frame style="light.TFrame" pack-fill="x" padding="0 15">
        <!-- Current status -->
        <Frame style="light.TFrame" pack-side="left" pack-fill="both" pack-expand="1" padding="25">
            <Label style="H4.dark.light.TLabel" wrap="true" text="Status: " pack-expand="1" pack-fill="x" width="15" anchor="s" />
            <Label style="{{ f'H5.{status_text_style}.light.TLabel' }}" pack-expand="1" pack-fill="x" wrap="true" text="{{ status_text }}" compound="right" width="20" anchor="s" pack-pady="25 0" image="{{ 'dots-16-success' if lastresult == 'RUNNING' else None }}"/>
        </Frame>

        <Separator orient="vertical" pack-side="left" pack-fill="y" />

        <!-- Last back-->
        <Frame style="light.TFrame" pack-side="left" pack-fill="both" pack-expand="1" padding="25">
            <Label style="H4.dark.light.TLabel" pack-expand="1" pack-fill="x" wrap="true" text="Details: " width="15" anchor="s" />
            <Label style="{{ f'H5.{last_backup_text_style}.light.TLabel' }}" justify="center" pack-expand="1" pack-fill="x" wrap="true" text="{{ last_backup_text }}" width="20" anchor="s" pack-pady="25 0" />
        </Frame>
    </Frame>

    <!-- Start/Stop backup -->
    <Frame style="default.TFrame" pack-fill="x" pack-expand="1" />
    <Frame style="default.TFrame">
        <Button id="start_button" command="start_backup" text="Start backup" pack-side="left"
            style="success.TButton" cursor="hand2" padding="12" visible="{{lastresult not in ['RUNNING', 'STALE']}}"/>
        <Button id="stop_button" command="stop_backup" text="Stop process" pack-side="left"
            style="success.TButton" cursor="hand2" padding="12" visible="{{lastresult in ['RUNNING', 'STALE']}}"/>
    </Frame>
    <Frame style="default.TFrame" pack-fill="x" pack-expand="1" />
        
</Frame>