[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Minarca Backup
Name[fr]=Sauvegarde Minarca
Comment=Minarca a centralized management of data backups
Comment[fr]=Minarca une gestion centralisée des sauvegardes de données
Exec=/opt/minarca/minarcaw
Icon=/opt/minarca/favicon.svg
Terminal=false
