<!-- Default -->
<meta content="{% trans %}Make sure your data is safe. Minarca is a online backup software for SMB and freelancer.{% endtrans %}" name="description" />
<meta content="sauvegarde externe, backup en ligne, sauvegarde de données, sauvegarde online, sauvegarde automatique, sauvegarde restauration, backup, mac, windows, os x, linux" name="keywords" />
<!-- Facebook Open Ojbect -->
<meta content="https://www.minarca.net/" property="og:url" />
<meta content="Minarca" property="og:site_name" />
<meta content="website" property="og:type" />
<meta content="{% trans %}Make sure your data is safe. Minarca is a online backup software for SMB and freelancer.{% endtrans %}" property="og:description" />
<meta content="Minarca" property="og:title" />
<meta content="///minarca_brand_static/minarca_128.png" property="og:image" />
<!-- Twitter Card -->
<meta content="summary" name="twitter:card" />
<meta content="@ikus060" name="twitter:site" />
<meta content="https://www.minarca.net" name="twitter:url" />
<meta content="Minarca" name="twitter:title" />
<meta content="{% trans %}Make sure your data is safe. Minarca is a online backup software for SMB and freelancer.{% endtrans %}" name="twitter:description" />
<meta content="//minarca_brand_static/minarca_128.png" name="twitter:image" />
<!-- MS Windows card -->
<meta content="//minarca_brand_static/minarca_128.png" name="msapplication-TileImage" />
<meta content="#ffffff" name="msapplication-TileColor" />
<!-- Android Manifest -->
<link rel="manifest" href="/minarca_brand_static/manifest.json">