**/target
*~
*.trace.db
.project
.classpath
.settings
*.h2.db
*.pdf
*.h2.lock
/.~lock.Procedures.odt#
/.~lock.Testcases.odt#
.pydev*
/.pytest_cache/
**/.DS_Store
/debian/.debhelper/
/debian/changelog
/debian/debhelper-build-stamp
/debian/minarca-client/
.debbuild