# Copyright (C) 2021 IKUS Software inc. All rights reserved.
# IKUS Software inc. PROPRIETARY/CONFIDENTIAL.
# Use is subject to license terms.

recursive-include minarca_client/ui/image *.png *.icns *.ico *.svg *.gif
recursive-include minarca_client/ui/templates *.html
recursive-include minarca_client/ui/theme *.tcl *.png
